*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body{
    display: flex;
    color: aqua;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(5172658.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}