*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

body{
    display: flex;
    color: aqua;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(5172658.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section{
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}
h1{
    font-size: 2rem;
    color:aqua;
    text-align: center;
}
.inputbox{
    border-bottom: 2px solid #fff;
    max-width: 310px;
    position: relative;
    margin: 30px 0;
}
.inputbox label{
    position: absolute;
    top: 30%;
    left: 5px;
    transform: translateY(-100%);
    pointer-events: none;
    font-size: 1rem;
    color: aqua;
    transition: all 0.5s ease-in-out;

}
.inputbox.focus~label
input:valid~label{
    top: -5px;

}
.inputbox input{
   height: 35px;
   width: 100%;
   background: transparent;
   border: none; 
   outline: none;
   font-size: 1rem;
   padding: 0 20px 0 5px;
   color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.2rem;
    color: rgb(239, 90, 115)
}
.forget{
    margin: 35px 0;
    display: flex;
    color: #fff;
    justify-content: space-between;
    font-size: 0.85rem;
}
.forget label{
    display: flex;
    align-items: center;
    color: aqua;
}
.forget label input{
    margin-right: 3px;
}
.forget a{
    text-decoration: none;
    color: rgb(239, 90, 115);
    font-weight: 600;
    margin-left: 10px;
}
.forget a:hover{
    text-decoration: underline aqua;

}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border:2px solid white;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    color: rgb(239, 90, 115);
}
button:hover{
background-color: aquamarine
}
.register{
    font-size: 0.9rem;
    text-align: center;
    color: aqua;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color:  rgb(239, 90, 115);
    font-weight: 400;
}
.register p a:hover{
    text-decoration: underline aqua;
}