body{
    background-image: linear-gradient(to right,purple,cyan);
height: 5000px;
}

.linkpage{
    height:30%;
    color: black;
    display: flex;
    flex-direction: row;
    

}
.top1{
    position: ;

}
button{
    color: rgb(127, 219, 255);
    border-radius: 50px;
    background-image: linear-gradient(to right,purple,blue);
}
button:hover{
    background-image: linear-gradient(to right,purple,cyan);
}